Library: sacreblue
used to evaluate the row matrix evaluation in text summarization.

Library: Rouge_score
It compares a machine-generated text to a human-produced reference text to determine 
how similar the two are. The ROUGE score is a scalar value that ranges from 0 to 1,
with higher scores indicating greater similarity. A score close to zero indicates poor similarity,
while a score close to one indicates strong similarity.

Library: py7zr
py7zr is a library and utility to support 7zip archive compression, decompression, encryption and decryption